<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tvshows">
      <ion-icon name="tv"></ion-icon>
      TV-shows
    </ion-tab-button>
    <ion-tab-button tab="movies">
      <ion-icon name="videocam"></ion-icon>
      Movies
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
